body{
	background: #B3B3B3;
	font-size: 150%;
	margin:2%;
}

header{
	background: #00b7ea;
	text-align: center;
	padding-bottom: 15px;
}
header,footer{
	background: #666666;
	background: -moz-linear-gradient(top, #666666 0%, #00b7ea 100%);
    background: -webtik-linear-gradient(#666666 0%, #00b7ea 100%);
	background: -o-linear-gradient(#666666 0%, #00b7ea 100%);
	background: linear-gradient(#666666 0%, #00b7ea 100%); 
}
header{
	text-align:center;
	padding-bottom:15px;
}

h1{
	color: #FFFFFF;
}
nav{
	font-variant: small-caps;
	font-family: Arial, "Time New Roman", 
serif;
    font-size:150%;
}
nav a{
	display:inline-block;
	background:#ffffff;
	width:22%;
}
h2{
	color: #666666;
	background: #00b7ea;
}
.half{
	width: 45%;
	display: inline-block;
	margin-right: 2%;
	float:left; 
}

 .whole{
	clear:both; 
}

details{
	font-style: italic;
}

summary{
	font-style: normal;
}

footer{
	clear: both;
	height:100px;
}
img{
	width:75px;
}